<template name="postSubmit">
    <form class="main form">
        <div class="form-group">
            <label for="url" class="control-lable">URL</label>
            <div class="controls">
                <input type="text" name="name" id="url" class="form-control" placeholder="Your URL" >
            </div>
        </div>
        <div class="form-group">
            <label for="title" class="control-label">Title</label>
            <div class="controls">
                <input type="text" name="title" id="title" class="form-control" value="" placeholder="Name your post">
            </div>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>
</template>
